<body>
  <button id="chat-button" onclick="showBot()"><span>Chatbot</span></button>
  <div class="bot-contents">
    <button class="collapsable" id="BriathraNeamhrialta" onclick="">Briathra Neamhrialta</button>
    <div class="content">
      <ul>
        <li id="BriathraNeamhrialtaInfo" onclick="load('BriathraNeamhrialtaInfo')">Info & Questions</li>
        <li id="BQuiz" onclick="load('BQuiz')">Quiz</li>
      </ul>
    </div>
    <button class="collapsable">Extra Option 1</button>
    <div class="content">
      <ul>
        <li>Option 1</li>
        <li>Option 2</li>
      </ul>
    </div>
    <button class="collapsable">Extra Option 2</button>
    <div class="content">
      <ul>
        <li>Option 1</li>
        <li>Option 2</li>
      </ul>
    </div>
    <button class="collapsable">Extra Option 3</button>
    <div class="content">
      <ul>
        <li>Option 1</li>
        <li>Option 2</li>
      </ul>
    </div>
  </div>
  <div class="test"></div>
  <div class="bot-audio">
    <audio controls></audio>
    <div class="audio-checkbox">
      <input type="checkbox" name="play-audio" id="checkbox">
      <p class="checkbox-text">Auto Play</p>
    </div>
  </div>
  <div class="tri"></div>
  <div class="bg-modal">
    <div class="bot-close" onclick="hideBot()">+</div>
    <div><img src="assets/menuIcon.png" class="contents-button" onclick="showContents()"></div>
    <div><img src="assets/play-png.png" id="play-audio" onclick="showAudio()"></div>
    <div class="chatlogs">
      <div class="messages"></div>
    </div>
    <form class="chatform">
      <input id="user_input" type="text" autocomplete="off">
      <button type="submit" id="message-button" onclick="chat()">></button>
    </form>
    </div>
</body>
